fastapi
uvicorn
openai
python-multipart
pillow
pydantic
httpx
python-dotenv
loguru
jinja2
pydantic-settings
opencv-python-headless
moviepy
numpy
alembic
sqlalchemy[asyncio]
asyncpg
azure-storage-blob
